body * {
  box-sizing: border-box;
}

.subtitle {
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 10px;
  font-weight: lighter;
}

.main-container {
  font-family: Futura, sans-serif, Arial, "sans-serif";
  box-sizing: border-box;
  min-width: 100%;
}

.product-container {
  width: 700px;
  height: 700px;
  padding: 5px;
  box-shadow: 1px 1px 5px black;
  display: flex;
  flex-direction: column;
}

.quantity {
  display: flex;
  height: 120px;
}

.product {
  background-color: white;
  margin-left: 14px;
  border-radius: 1px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 2px grey;
  border: white solid 1px;
  opacity: 50%;
}

.product img {
  width: 48px;
}

.product p {
  margin: 2px;
}

.package {
  background-color: lightgrey;
  width: 50%;
  height: 45px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 10px;
}

.subBulletContain img {
  width: 15px;
  height: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-right: 3px;
}

.selected-product {
  box-shadow: 0px 0px 5px #7ec0e1;
  border: #7ec0e1 solid 1px;
  opacity: 100%;
}

.packages-container {
  min-height: 170px;
  width: 96%;
  box-shadow: 0px 0px 3px grey;
  align-self: center;
}

.packages-header {
  display: flex;
  width: 100%;
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
}

.arrow-img {
  width: 50px;
  height: 50px;
}

.selected-package {
  background-color: white;
}

.addon {
  background-color: white;
  margin: 0px 20px;
  margin-top: 20px;
  padding: 25px;
  padding-right: 40px;
  border-radius: 1px;
  box-shadow: 0px 0px 3px grey;
  height: 60px;

  display: flex;
  align-items: center;
  cursor: pointer;
  align-self: center;
}

.one-time {
  font-weight: 200;
  color: black;
  width: 100%;
}

.selected-addon {
  background-color: black;
  color: white;
  font-weight: bold;
}

.addon-text {
  color: black;
  margin-left: 40px;
}

.cost-container {
  display: flex;
  /* flex-direction: column; */
  margin: 0px 20px;
  /* width: 50%; */
}

.subBulletContain {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
  align-items: flex-end;
}

.frequencySelect {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
}

.frequencySelect h4 {
  margin-bottom: 5px;
  margin-top: 5px;
}

select {
  height: 30px;
  font-size: 15px;
  border-color: #e15e3a;
  border-width: 2px;
}

select:active,
select:hover {
  outline-color: #e15e3a;
}

.bullet {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h5 {
  color: #e15e3a;
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 14px;
}

.bullet-text {
  color: black;
  margin-top: 0px;
  margin-bottom: 8px;
  font-weight: lighter;
  font-size: 12px;
}

.monthly-link {
  margin-left: 120px;
  color: grey;
}

.total {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.prod-image {
  width: 57px;
  margin-left: 30px;
}

label {
  margin-left: 15px;
}

#add-to-cart {
  width: 97%;
  align-self: center;
  height: 65px;
  border-radius: 5px;
  border-color: #e15e3a;
  font-weight: bold;
  font-size: 18px;
  color: white;
  background-color: #e15e3a;
  margin-top: 15px;
}

.set {
  color: black;
  color: black;
}

.package-title {
  font-weight: lighter;
  margin-left: 8px;
  margin-right: 8px;
}

.parens {
  color: #e15e3a;
  font-size: 14px;
  margin: 0;
}

input[type="radio"]:checked:after {
  width: 14px;
  height: 14px;
  border-radius: 15px;
  position: relative;
  top: 0px;
  left: 0px;
  background-color: #e15e3a;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 3px solid white;
  outline: 1px solid #e15e3a;
}

input[type="radio"]:after {
  width: 14px;
  height: 14px;
  border-radius: 15px;
  position: relative;
  top: 0px;
  left: 0px;
  background-color: lightgrey;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 3px solid lightgrey;
  outline: 1px solid #e15e3a;
}

.addon input[type="radio"]:after {
  background-color: white;
  border: 3px solid white;
}

.addon input[type="radio"]:checked:after {
  background-color: #e15e3a;
  outline: 1px solid #e15e3a;
}

#discount {
  margin: 0;
  font-size: 28px;
  color: #e15e3a;
}

#total-price {
  margin: 0;
}

.reg-price {
  margin-top: 5px;
  margin-bottom: 0;
}

.sub-terms {
  margin-top: 5px;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

.modal {
  z-index: 10;
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-width: 350px) and (max-width: 600px) {
  .product-container {
    width: initial;
    height: initial;
    box-shadow: initial;
  }

  .quantity {
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .product {
    height: initial;
    text-align: center;
    width: 200px;
    height: 120px;
    margin: 5px;
  }

  .package .package-title {
    font-size: 14px;
  }

  .one-time {
    font-size: 14px;
  }

  .package {
    height: initial;
  }

  .parens {
    font-size: 12px;
  }

  select {
    height: 40px;
  }

  .subBulletContain {
    flex-direction: column;
    align-items: start;
  }

  .addon {
    height: 85px;
    margin: 20px 10px;
  }

  .addon-text {
    font-size: 14px;
  }
}
